* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

body {
	box-sizing: border-box;
	font-family: sans-serif;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

h1 {
	font-size: 6.5rem;
	color: rgb(16, 4, 106);
	margin-bottom: 2rem;
}

h2 {
	font-size: 10rem;
	font-weight: 400;
	margin-bottom: 2rem;
	color: #222;
}

ul {
	list-style: none;
	display: flex;
	text-transform: uppercase;
	justify-content: space-between;
	font-size: 1.5rem;
}

li {
	border: 0.2rem solid #222;
	padding: 0.5rem 1.5rem;
	letter-spacing: 0.5rem;
	margin: 1rem;
	border-radius: 0.5rem;
	cursor: pointer;
	transition: all 0.3s ease-in;
}

li:hover {
	background-color: #222;
	color: white;
}
